import(RColorBrewer)
import(gplots)
import(Matrix)
import(stats)
import(graphics)
import(pheatmap)
importFrom("grDevices", "col2rgb", "colorRampPalette", "densCols")
importFrom("matrixStats", "rowSds")
importFrom("matrixStats", "rowVars")
importFrom("matrixStats", "colVars")
importFrom("methods", "as")
